.main{
	width: 100vw;
	height: 75vh;
	overflow: hidden;
	background-color: #dadada;
}
h1{
	font-size: 50px;
	font-family: SFNewRepublic;
}
.subheading{
	position: absolute;
	top: 60%;
	left: 50%;
	font-size: 40px;
	transform: translate(-50%, -50%);
	font-family: SFNewRepublic;
}
.subheading a{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: SFNewRepublic;
	font-size: 50px;
	color: grey;
}
.a a{
	top: 20%;
}
.b a{
	top: 100%;
}
.top-nav{
	width: 100vw;
	height: 25vh;
	font-size: 20px;
	background-image: url(../images/nav-back.png);
	background-size: cover;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
	box-shadow: 0px 0px 10px black;
}
.footer-nav{
	width: 100vw;
	font-size: 20px;
	background-image: url(../images/nav-back.png);
	background-size: cover;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
	box-shadow: 0px 0px 10px black;
}
.nav-btn li{
	display: inline-block;
	list-style-type: none;
	padding: 0 20px 0 20px;
	margin: 0;
	z-index: 15;
	padding: 10px 20px 10px 20px;
	font-family: SFNewRepublic;
	font-size: 35px;
	color: white;
}
.nav-btn li a{
	color: white;
}
.top-nav li:hover{
	background-color: white;
}
.logo{
	width: 10%;
	height: 20%;
	z-index: 12;
	position: relative;
	margin: 10px;
	display: inline-block;
}